input {
  text-align: center !important;
}

div > .inline.field {
  min-height: 110px;
}

.option-container .basic.segment .ui.button {
  align-self: center;
  margin-top: auto;
  width: 70%;
  height: 40px;
}

.option-container .ui.form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

div > .ui.center.aligned.basic.segment.horizontal {
  margin: 0px;
}
