h2.ui.header {
  display: inline;
  background-color: #538083;
  color: #FFFEF9;
  -webkit-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 7px 7px 0px 0px rgba(0,0,0,0.75);
}

.ui.results-block {
  padding: 3% 0;
}