h2.ui.header {
  display: inline;
  background-color: #b5e2fa;
  color: black;
  -webkit-box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 0px 0px rgba(0, 0, 0, 0.75);
  padding-left: 4px;
  padding-right: 4px;
}

.ui.header + p {
  margin-top: 1em;
}

.sub-header-img-block {
  display: block;
  width: 100%;
  height: 70px;
}

.sub-header-img {
  max-height: 100%;
  max-width: 100%;
}

.ui.subreddit-block > p {
  overflow-wrap: break-word;
}
